.signup-container {
    position: fixed;
    display: flex;
    background-image: url("https://i.imgur.com/FPORwDp.jpg");
    /* background-image: url("https://i.imgur.com/Ncvit1x.jpg"); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color:white;
    height: 100vh;
    width: 100%;
}

.signup-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-shrink: 0;
}
.signup-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-inputs > input {
    margin-bottom: 10px;
}
.signup-inputs > label {
    margin-bottom: 5px;
}

.signup-button {
    display: flex;
    background-color: rgb(17, 32, 194);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
}

.signup-button:hover {
    cursor: pointer;
    background-color: rgb(25, 41, 218);
}


.have-an-account {
    margin-top: 10%;
}

.login-here-button {
    color: rgb(72, 255, 167);
    margin-left: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.login-here-button:hover {
    cursor: pointer;
    text-decoration: underline;
}
